body {
}

#bagian2 {
  padding-top: 5rem;
  background-color: #3c3c3c;
  padding-bottom: 50px;
}

#f1 {
  font-family: "Montserrat", sans-serif;
}

#f2 {
  font-family: "Poppins", sans-serif;
}

#about {
  background-color: #3c3c3cea;
}

#services {
  background-color: #3c3c3c;
  padding-bottom: 50px;
}

#portfolio {
  background-color: #3c3c3cea;
  padding-bottom: 150px;
}

#contact {
  background-color: #ffe39b;
}

section {
  padding-top: 4rem;
}

#followme {
  background-color: #3c3c3c;
  padding-bottom: 100px;
}

#icon {
  font-size: 75px;
}

#i1 {
  margin-top: 50px;
}
